/*$bgColor : lightblue;*/

.mainViewSection {
 margin-top: 100px;

}


/*li {
  list-style: none;
  display:inline-block;
  height: 15%;
  width:  90%;
  background-color:#e6eef1;
  border-radius: 0.2em;
  text-align: center;
  font-size: 1em;
  color:darkblue;
}*/


/*.imgMonster {
  max-width: 100px;
}*/

.addSpaceBtn {
  margin-top: 1vw;
}

.primarySpaceContainer {
  border: 1px solid green;
  display: flex;
  flex-direction: row;

}

.spacesSideBar {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 70vh;
}
.spaceCardContainer {
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  
}

.storesPrimaryContainer {
  display: flex;
  justify-content: center;
  border: 1px solid pink;
  width: 800px;
}

.storeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 2px solid blue;
  width: 300px;
  height: 300px;
}
.store {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.listContainer {
  border: 3px solid yellow;
  display: flex;
  flex-direction: column;
}
